body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper{
	overflow: auto;
}
.container>.title{
	text-align: center;
	font-family: 'Jua', sans-serif;
	font-size:3.2rem;
}
.over{
	min-height: 100%;
	background-position: center;
	background-image: url("../images/background_avengers.jpg");
    background-repeat : no-repeat;
    background-size : cover;
	width: 100%;
    height: 100%;
    /* background-color: #000000;
    opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.25);
    position:absolute;
}
.over>.title{
	margin:240px auto 0 auto;
	width: 780px;
	text-align: center;
	opacity: 0.8;
	font-family: 'Bebas Neue', cursive;
	font-size: 12rem;
	color: #ffffff;
}
.over>.title:first-letter{
	font-size: 18rem;  
}
.over>.title:hover{
	opacity: 1;
}
.title:after{ 
	content:""; clear:both; display:block;
}
#stop{
	z-index: 1;
}
/*결과*/

.wrapper>.container{
	text-align:  center;
	width:1000px;
	margin:70px auto 0 auto;
	/*border: 1px solid gray;*/
	border-radius: 15px;
	background-color: #f6f7fa;
}
#webcam-container,#image-container{
	display: inline-block;
	border-radius: 20px;
	width:400px;
	height: 400px;
	overflow: hidden;
}

#image-container>img{
	width:100%;
	height:auto;
}
#image-container>img,#webcam-container>canvas{
	border-radius: 20px;
}
.container>.wrapper{
	display: inline-block;
	margin-top:40px;
	width:400px;
	
}
.button{
	height: 60px;
	margin-top:15px;
	margin-bottom:15px;

}
.button>input{
	width:95%;
	height: 100%;
	border-radius: 15px;
	background: #8E2DE2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #ffffff;
	border: 1px solid #f6f7fa;
	font-size: 1.5rem;
	font-family: 'Jua', sans-serif;

}
#name{
	font-size: 2rem;
	font-family: 'Jua', sans-serif;
}
#resultText{
	margin-top:20px;
	font-size: 1.6rem;
	font-family: 'Jua', sans-serif;
}

.loader{
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 8em auto 1em;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #FF6700;
}

/*
sns
*/

/*$googleplus_color: #dd4b39;
$facebook_color: #3b5998;
$twitter_color: #55acee;*/

#sns-container {
  margin-top:20px;
}

.sns_btn {
  display: inline-block;
  color: #fff;
  height: 3em;
  width: 3em;
  position: relative;
  /*// text-align: center;*/
  /*// clear:both;*/
  /*// white-space:nowrap;*/
  font-size: 1.5em;
  border-radius: 0.3125em;
  box-shadow: 0 0.1875em 0.3125em 0 rgba(0, 0, 0, 0.35);
  margin:0.2em;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  overflow: hidden;
  
}

.sns_btn>i{
	position: absolute;
    /*// top: 50%;*/
    /*// transform: translateY(-50%);*/
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
}
.sns_btn:hover{
		transform: scale(1.2);
    box-shadow: 0 0.3125em 0.9375em 0 rgba(0, 0, 0, 0.4);
}
.sns_btn:active{
transform: scale(0.9);
    box-shadow: 0 0.125em 0.1875em 0 rgba(0, 0, 0, 0.4);
}
.btn_facebook {
  background: #3b5998;
}
.btn_facebook:hover{
	 color: #3b5998;
    background: #fff;
}

.btn_twitter {
  background: #55acee;
 }

.btn_twitter:hover{
	color: #55acee;
	background: #fff;
}

